.about {
  padding: rem(125) rem(15);
  @include mq(md) {
    padding-top: rem(50);
    padding-bottom: rem(60);
  }
  &__english {
    font-size: rem(22.75);
    text-align: center;
    font-weight: medium;
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
    margin-bottom: rem(15);
    color: #707070;
  }
  &__content {
    text-align: center;
    font-size: rem(14);
    line-height: (35 / 16);
    margin-top: rem(60);
  }
  &__btnWrap {
    margin-top: rem(95);
    display: flex;
    justify-content: center;
  }
}