.btn {
  display: block;
  width: rem(240);
  text-align: center;
  padding-top: rem(12);
  padding-bottom: rem(12);
  font-size: rem(14);
  font-weight: bold;
  color: #000;
  background-color: #BEA55A;
  border: rem(1) solid #BEA55A;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 38.75%;
    right: rem(15);
    width: rem(10);
    height: rem(10);
    border-top: rem(1.5) solid #000;
    border-right: rem(1.5) solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &--header {
    margin-right: rem(32.5);
    @include mq(md) {
      display: none;
    }
  }
  &--left {
    width: rem(140);
    background-color: #000;
    color: #BEA55A;
    margin-right: rem(13);
    &::before {
      content: none;
    }
    @include mq(md) {
      width: rem(130);
    }
  }
  &--right {
    width: rem(140);
    &::before {
      content: none;
    }
    @include mq(md) {
      width: rem(130);
    }
  }
  &--black {
    border-color: #fff;
    color: #fff;
    background-color: #000;
    &--left {
      margin-right: rem(25);
    }
    &::before {
      border-color: #fff;
    }
  }
  &--gallery {
    background-color: #000;
    color: #BEA55A;
    &::before {
      border-color: #BEA55A;
    }
  }
}