.entry {
  padding-top: rem(95);
  padding-left: rem(15);
  padding-right: rem(15);
  &__list {
    max-width: rem(830);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(30);
    font-size: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    padding-top: rem(19.5);
    padding-bottom: rem(19.5);
    border-top: rem(1) solid #fff;
    &:last-child {
      border-bottom: rem(1) solid #fff;
    }
  }
  &__left {
    min-width: rem(125);
    p {
      font-size: rem(12);
    }
  }
  &__right {
    p {
      font-size: rem(12);
      line-height: (28 / 16);
    }
    .attention {
      font-size: rem(10);
      margin-top: rem(15);
    }
  }
  &__btnWrap {
    margin-top: rem(65);
    display: flex;
    justify-content: center;
  }
}