.outline {
  padding: rem(95) rem(15);
  @include mq(md) {
    padding-bottom: rem(50);
  }
  &__content {
    max-width: rem(830);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(30);
    font-size: 0;
  }
  &__list {
    width: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    padding-top: rem(19.5);
    padding-bottom: rem(19.5);
    border-top: rem(1) solid #fff;
    &:last-child {
      border-bottom: rem(1) solid #fff;
    }
    @include mq(md) {
      flex-direction: column;
    }
  }
  &__left {
    min-width: rem(125);
    p {
      font-size: rem(14);
      font-weight: bold;
    }
    @include mq(md) {
      text-align: center;
      margin-bottom: rem(10);
    }
  }
  &__right {
    p {
      font-size: rem(14);
      line-height: (28 / 16);
      a {
        margin-left: rem(15);
        padding: rem(3) rem(10);
        font-size: rem(12);
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border-radius: rem(17);
        @include mq(md) {
          margin-left: 0;
        }
      }
      @include mq(md) {
        text-align: center;
        line-height: 2;
      }
    }
  }
  &__attention {
    font-size: rem(18);
    margin-top: rem(10);
    span {
      font-weight: bold;
    }
    @include mq(md) {
      text-align: center;
    }
  }
}