.outline {
  padding-top: rem(95);
  padding-left: rem(15);
  padding-right: rem(15);
  &__content {
    max-width: rem(830);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(30);
    font-size: 0;
  }
  &__list {
    width: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    padding-top: rem(19.5);
    padding-bottom: rem(19.5);
    border-top: rem(1) solid #fff;
    &:last-child {
      border-bottom: rem(1) solid #fff;
    }
  }
  &__left {
    min-width: rem(125);
    p {
      font-size: rem(12);
      font-weight: bold;
    }
  }
  &__right {
    p {
      font-size: rem(12);
      line-height: (28 / 16);
      a {
        margin-left: rem(15);
        padding: rem(3) rem(10);
        font-size: rem(11);
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border-radius: rem(17);
      }
    }
  }
  &__attention {
    font-size: rem(18);
    margin-top: rem(10);
    span {
      font-weight: bold;
    }
  }
}